<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198162720342-i0ntsssqh3oec54vf4g7kuuae223qpnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198162720342-i0ntsssqh3oec54vf4g7kuuae223qpnf</string>
	<key>API_KEY</key>
	<string>AIzaSyDWGjtcuY3uDCpTNlQawYcCzdVvS2OuKIY</string>
	<key>GCM_SENDER_ID</key>
	<string>198162720342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobbyApp</string>
	<key>PROJECT_ID</key>
	<string>dating-appp-2d438</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-appp-2d438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198162720342:ios:3b48fb1b785eb985da7df7</string>
</dict>
</plist>